.ProductsSectionWrapper {
    width: 98%;
    height: 60vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
    gap: 3vh;
    margin: 3vh;
}

.ProductsSectionProduct {
    display: flex;
    width: 100%; /* Ensure full width */
    position: relative;
    height: 55vh;
    overflow: hidden; /* Hide overflow for proper scrolling */
    align-items: center;
}

.ProductsSectionHeading {
    margin-left: 2vw;
}

.ProductsSectionHeading > h1 {
    color: black;
}

.products {
    display: flex;
    justify-content: flex-start; /* Align items to start */
    gap: 2vw;
    width: 100%; /* Ensure full width */
    height: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden;
    scroll-behavior: smooth; /* Smooth scrolling */
}

.products::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.left, .right {
    position: absolute; /* Absolute positioning for scroll buttons */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid;
    color: white;
    border-radius: 50%;
    padding: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-weight: bolder;
    z-index: 1; /* Ensure buttons are above other content */
}

.left {
    left: 0; /* Align to the left */
}

.right {
    right: 0; /* Align to the right */
}
