.ProductsSectionWrapper{
    width: 98%;
    height: 50vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
    gap: 3vh;
    margin: 3vh;
}
.ProductsSectionProduct{
    display: flex;
    width: 90vw;
    height: 50vh;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
}
.ProductsSectionHeading{
    margin-left: 2vw;
}
.ProductsSectionHeading > h1{
    color: black;
}
.products{
    display: flex;
    justify-content: center;
    gap: 2vw;
    width: auto;
    height: auto;
    overflow-x: scroll;
    animation: fadeOut 2s forwards;
    animation-timeline: scroll();
}
.products::-webkit-scrollbar{
    display: none;
}
.left,.right{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid;
    color: white;
    border-radius: 50%;
    padding: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-weight: bolder;

    
}