/* src/Slider.module.css */
.sliderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100vw;
    background-color: rgba(255, 127, 80, 0.055);
    overflow: hidden;
  }
  
  .sliderImg {
    height: 100%;
    width: 100%;
    display: flex;
    transition: transform 3s ease-in-out;
  }
  
  .ImageTag {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
  }
  